<div>
    <div
        *ngIf="currentAngu.id"
        class="edit-form"
    >
        <h4>Angu</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    [(ngModel)]="currentAngu.title"
                    name="title"
                >
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input
                    type="text"
                    class="form-control"
                    id="description"
                    [(ngModel)]="currentAngu.description"
                    name="description"
                >
            </div>

            <div class="form-group">
                <label>
                    <strong>Status:</strong>
                </label>
                {{ currentAngu.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button
            class="badge badge-primary mr-2"
            *ngIf="currentAngu.published"
            (click)="updatePublished(false)"
        >
            UnPublish
        </button>
        <button
            *ngIf="!currentAngu.published"
            class="badge badge-primary mr-2"
            (click)="updatePublished(true)"
        >
            Publish
        </button>

        <button
            class="badge badge-danger mr-2"
            (click)="deleteAngu()"
        >
            Delete
        </button>

        <button
            type="submit"
            class="badge badge-success mb-2"
            (click)="updateAngu()"
        >
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentAngu.id">
        <br>
        <p>Cannot access this Angu...</p>
    </div>
</div>
