<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a
            href="#"
            class="navbar-brand"
        >
            ...
        </a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    routerLink="tutorials"
                    class="nav-link"
                >
                    Angus
                </a>
            </li>
            <li class="nav-item">
                <a
                    routerLink="add"
                    class="nav-link"
                >
                    Add
                </a>
            </li>
        </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>
