<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                placeholder="Search by title"
                [(ngModel)]="title"
            >
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchTitle()"
                >
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Angus List</h4>
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let angu of angus; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveAngu(angu, i)"
            >
                {{ angu.title }}
            </li>
        </ul>

        <button
            class="m-3 btn btn-sm btn-danger"
            (click)="removeAllAngus()"
        >
            Remove All
        </button>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentAngu.id">
            <h4>Angu</h4>
            <div>
                <label>
                    <strong>Title:</strong>
                </label>
                {{ currentAngu.title }}
            </div>
            <div>
                <label>
                    <strong>Description:</strong>
                </label>
                {{ currentAngu.description }}
            </div>
            <div>
                <label>
                    <strong>Status:</strong>
                </label>
                {{ currentAngu.published ? "Published" : "Pending" }}
            </div>

            <a
                class="badge badge-warning"
                routerLink="/angus/{{ currentAngu.id }}"
            >
                Edit
            </a>
        </div>

        <div *ngIf="!currentAngu">
            <br>
            <p>Please click on a Angu...</p>
        </div>
    </div>
</div>
